body {
  font-family: sans-serif;
  width: 350px;
  padding: 10px;
}

#api-select {
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
}

#response {
  margin-top: 10px;
  white-space: pre-wrap;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

#options-link {
  display: block;
  margin-top: 10px;
  text-align: center;
}
